*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat";
    color: $primary-text-color;
}

li{
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
}

button{
    font-family: "Montserrat";

}

@mixin h_reset_font {
    h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

}



.container{
    width: 1200px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-3{
   width: calc(100% / 3);
    padding: 0 5px; 
}

.col-4{
    width: calc(100% / 4);
    padding: 0 5px;
}

.col-6{
    width: calc(100% / 2);
    padding: 0 5px;
}
