*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: $primary-text-color;
}

.container{
    width: 1200px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-4{
    width: calc(100% / 4);
    padding: 0 5px;
}

.col-6{
    width: calc(100% / 2);
    padding: 0 5px;
}
