*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat";
    color: $primary-text-color;
    background-color: $primary-bg-color;
}

li{
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
}

button{
    font-family: "Montserrat";
    &.button_light{
         
      padding: 13px 30px;
      background-color: transparent;
      color: $secondary-text-color;
      font-size: 16px;
      border: 1px solid $secondary-text-color;
      &:hover {
        cursor: pointer;
        color: $primary-text-color;
        border: 1px solid $primary-text-color;

      }
    }

}

@mixin h_reset_font {
    h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

}



.container{
    width: 1200px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-3{
   width: calc(100% / 3);
    padding: 0 5px; 
}

.col-4{
    width: calc(100% / 4);
    padding: 0 5px;
}

.col-6{
    width: calc(100% / 2);
    padding: 0 5px;
}



.triangle {
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: red;
  }