$primary-bg-color: #212425;
$secondary-bg-color: #252a2d;
$primary-text-color: #fefefe;
$secondary-text-color: #aeafae;
$active-text-color: #41c457;
$button-color: #41c457;
$footer-text-color: #6b6b6b